<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
    <title>Web QR</title>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script type="text/javascript" src="/js/llqrcode.js"></script>
    <script type="text/javascript" src="/js/webqr.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <div id="main">
        <div id="mainbody">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img class="selector" id="qrimg" src="/img/cam.png" onclick="setimg()">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="outdiv"> </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="result">- scanning -</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <canvas id="qr-canvas"></canvas>

    <script type="text/javascript">load();</script>
    <script>
        liff.init(
            data => {
                // Now you can call LIFF API
                const userId = data.context.userId;
                liff.getProfile()
                    .then(profile => {
                        const name = profile.displayName
                    })
                    .catch((err) => {
                        console.log('error', err);
                    });
            },
            err => {
                // LIFF initialization failed
            }
        );
    </script>

</html>