<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Cinerino LIFF App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <form method="post">
            <input type="hidden" name="transactionId" value="<%= transactionId %>">
            <div class="form-group">
                <label for="familyName">Family Name</label>
                <input type="text" name="familyName" id="familyName" class="form-control input-required" value="" maxlength="16" data-fieldname="Family Name"
                    required>
            </div>
            <div class="form-group">
                <label for="givenName">Given Name</label>
                <input type="text" name="givenName" id="givenName" class="form-control input-required" value="" data-fieldname="Given Name"
                    required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control input-required" value="" data-fieldname="Email" required>
            </div>
            <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="tel" name="telephone" id="telephone" class="form-control input-required" value="" data-fieldname="Telephone"
                    required>
            </div>
            <a class="btn btn-primary btn-next" href="javascript:void(0);">
                <span>Next</span>
            </a>
        </form>
    </div>
</body>

<script>
    liff.init(
        data => {
            // Now you can call LIFF API
            const userId = data.context.userId;
            liff.getProfile()
                .then(profile => {
                    const name = profile.displayName
                })
                .catch((err) => {
                    console.log('error', err);
                });
        },
        err => {
            // LIFF initialization failed
        }
    );

    $(function () {
        // 送信
        $('.btn-next').on('click', function () {
            const message = 'postback:' + 'action=setCustomerContact&' + $("form").serialize();
            console.log('sending message...', message);
            liff.sendMessages([
                {
                    type: 'text',
                    text: message
                }
            ])
                .then(() => {
                    console.log('message sent');
                    liff.closeWindow();
                })
                .catch((err) => {
                    console.log('error', err);
                });
        });
    });
</script>

</html>